
.codixButton {
    outline: none;
    position: relative;
    display: inline-block;
    height: 24px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    border: 1px solid black;
}

.rateButton {
    background-color: mediumblue;
    background-image: -webkit-linear-gradient(cornflowerblue, mediumblue);
    background-image: linear-gradient(cornflowerblue, mediumblue);
}

.similarButton {
    background-color: mediumpurple;
    background-image: -webkit-linear-gradient(mediumpurple, rebeccapurple);
    background-image: linear-gradient(mediumpurple, rebeccapurple);
}

.codixImgIcon {
    height: 22px;
    background-color: midnightblue;
    padding: 3px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.codixHeader {
    padding-top: 4px;
    padding-bottom: 4px;
}

.scoreBox {
    display: inline-block;
    width: 30px;
    height: 24px;
    background-color: aqua;
    font-size: small;
    text-align: center;
    line-height: 24px;
    color: black;
    border-radius: 4px;
}

.scoreBoxLabel {
    color: lightyellow;
    vertical-align: middle;
    font-size: smaller;
}

.noStars {
    color: gray;
    background-color: #efefef;
    border: 1px solid gray;
}

.oneStar {
    color: darkred;
    background-color: lightcoral;
    border: 1px solid #d43f3a;
}

.twoStars {
    color: darkred;
    background-color: lightsalmon;
    border: 1px solid darkorange;
}

.threeStars {
    color: saddlebrown;
    background-color: yellow;
    border: 1px solid saddlebrown;
}

.fourStars {
    background-color: #bbddbb;
    color: seagreen;
    border: 1px solid seagreen;
}


.fiveStars {
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-out .5s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateY(-10px);
    opacity: 0;
}